<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h2>1. Visit <a th:href="@{/managebranch}">Manage Branch (Need Admin Role)</a></h2>
        <h2>2. Visit <a th:href="@{/managebranchmanager}">Manage Branch Manager (Need Admin Role)</a></h2>
        <h2>3. Visit <a th:href="@{/managepolicyholder}">Manage Policy Holder(Need User Role)</a></h2>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>