<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Sign in</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css"/>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css"/>
</head>

<body>
	<div class="container">
		<div class="alert alert-danger" role="alert" th:if="${param.error}">
			The user name or password is incorrect!</div>
		<form th:action="@{/login}" method="post">
			<h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
			<label for="inputUsername" class="sr-only">User Name</label> <input
				type="text" id="user" name="username" class="form-control"
				placeholder="User Name" th:required="required" th:autofocus="autofocus"/> <label
				for="inputPassword" class="sr-only">Password</label> <input
				type="password" id="password" name="password" class="form-control"
				placeholder="Password" th:required="required"/>

			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign
				in</button>
			<div class="margin-top20 text-center">
				<a th:href="@{/home}">Go To Home</a>
			</div>
		</form>
	</div>
</body>
</html>