<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Register Branch</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css" />
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css" />
</head>
<body>
	<div class="container">
		<form class="form-horizontal" role="form" method="POST"
			th:action="@{/managebranch}" th:object="${branch}">
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<div class="alert alert-success" role="alert" th:if="${msg}"
						th:utext="${msg}"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<h2>Register Branch</h2>
					<hr />
				</div>
			</div>
			
			<div class="row" style="display: none">
				<div class="col-md-3 field-label-responsive">
					<label for="name">Id</label>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<div class="input-group mb-2 mr-sm-2 mb-sm-0">
							<div class="input-group-addon" style="width: 2.6rem">
								<i class="fa fa-user"></i>
							</div>
							<input type="text" th:field="*{id}" class="form-control"
								id="id" placeholder="Id" th:readonly="readonly"/>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-3 field-label-responsive">
					<label for="name">Branch Token</label>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<div class="input-group mb-2 mr-sm-2 mb-sm-0">
							<div class="input-group-addon" style="width: 2.6rem">
								<i class="fa fa-user"></i>
							</div>
							<input type="text" th:field="*{branchToken}" class="form-control"
								id="branchToken" placeholder="Branch Token" th:readonly="readonly"/>
						</div>
					</div>
				</div>
			</div>
			
			
			<div class="row">
				<div class="col-md-3 field-label-responsive">
					<label for="name">Branch Name</label>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<div class="input-group mb-2 mr-sm-2 mb-sm-0">
							<div class="input-group-addon" style="width: 2.6rem">
								<i class="fa fa-user"></i>
							</div>
							<input type="text" th:field="*{branchName}" class="form-control"
								id="branchname" placeholder="Branch Name" th:required="required"
								th:autofocus="autofocus" />
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-control-feedback">
						<span class="text-danger align-middle"
							th:if="${#fields.hasErrors('branchName')}"
							th:errors="*{branchName}"> </span>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3 field-label-responsive">
					<label for="name">Branch Address</label>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<div class="input-group mb-2 mr-sm-2 mb-sm-0">
							<div class="input-group-addon" style="width: 2.6rem">
								<i class="fa fa-user"></i>
							</div>
							<input type="text" th:field="*{branchAddres}"
								class="form-control" id="branchaddress"
								placeholder="Branch Address" th:required="required"
								th:autofocus="autofocus" />
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-control-feedback">
						<span class="text-danger align-middle"
							th:if="${#fields.hasErrors('branchAddres')}"
							th:errors="*{branchAddres}"> </span>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3 field-label-responsive">
					<label for="name">Branch PhoneNumber</label>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<div class="input-group mb-2 mr-sm-2 mb-sm-0">
							<div class="input-group-addon" style="width: 2.6rem">
								<i class="fa fa-user"></i>
							</div>
							<input type="text" th:field="*{branchPhoneNumber}"
								class="form-control" id="branchphone"
								placeholder="Branch Phone Number" th:required="required"
								th:autofocus="autofocus" />
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-control-feedback">
						<span class="text-danger align-middle"
							th:if="${#fields.hasErrors('branchPhoneNumber')}"
							th:errors="*{branchPhoneNumber}"> </span>
					</div>
				</div>
			</div>



			<div class="row">
				<div class="col-md-3">
					<a th:href="@{/home}">Go To Home</a>
				</div>
				<div class="col-md-6">
					<button type="submit" class="btn btn-success">
						<i class="fa fa-user-plus"></i> Register
					</button>
				</div>

			</div>
			
			<br/>
			<br/>
			<br/>
			
			<div class="row">

			<table class="table table-striped table-primary">

				<thead class="ttop">
					<tr class="table-info">
						<td><b>Branch Name</b></td>
						<td><b>Address</b></td>
						<td><b>Phone number</b></td>
						<td><b>Edit</b></td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="bran, iStat : ${branchList}"
						th:style="${iStat.odd}? 'font-weight: normal;'">

						<td th:text="${bran.branchName}"></td>
						<td th:text="${bran.branchAddres}"></td>
						<td th:text="${bran.branchPhoneNumber}"></td>
						<td>
						<a th:href="@{'/managebranch/' + ${bran.id}}">Edit</a></td>
					</tr>
				</tbody>
			</table>
			</div>
		</form>
	</div>
</body>
</html>